<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Methods_Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Methods_Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Methods_Console.Properties.Settings>
            <setting name="WindowThemeNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StatusBarThemeNumber" serializeAs="String">
                <value>1</value>
            </setting>
        </Methods_Console.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Methods_Console.Properties.Settings>
            <setting name="SmtOneTaskNumber" serializeAs="String">
                <value>B101;241;2000;9211;9221</value>
            </setting>
            <setting name="SmtTwoTaskNumber" serializeAs="String">
                <value>B102;242;2100;9212</value>
            </setting>
            <setting name="SmtMachines" serializeAs="String">
                <value>GC-60_1;GC-60_2;FZ60XC;GX-11;GX-11_1;GX-11_2</value>
            </setting>
        </Methods_Console.Properties.Settings>
    </applicationSettings>
</configuration>